<div class="search-filters">

<details class="govuk-details">
  <summary class="govuk-details__summary" aria-expanded="false">
    <span class="govuk-details__summary-text">
      Type of service
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-checkboxes govuk-checkboxes--small gem-c-checkboxes__list service-checkboxes">
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-carehomes" value="carehomes" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetype-carehomes" class="govuk-label govuk-checkboxes__label">Care homes</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-careinhome" value="careinhome" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetype-careinhome" class="govuk-label govuk-checkboxes__label">Care in your home</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-gps" value="gp" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="gps" class="govuk-label govuk-checkboxes__label">GP surgeries - NHS</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-dentists" value="dentist" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetypes-dentists" class="govuk-label govuk-checkboxes__label">Dentists</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-independentdoctors" value="independentdoctor" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetypes-independentdoctors" class="govuk-label govuk-checkboxes__label">Doctors - independent (non-NHS)</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-nhshospitals" value="nhshospital" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetype-nhshospitals" class="govuk-label govuk-checkboxes__label">Hospitals - NHS</label>
      </li>
      <li class="govuk-checkboxes__item">
        <input type="checkbox" name="servicetype[]" id="servicetype-remote" value="remote" class="govuk-checkboxes__input service-checkbox" data-controls="js-search-results-info" aria-controls="js-search-results-info"><label for="servicetype-remote" class="govuk-label govuk-checkboxes__label">Online or telephone advice</label>
      </li>
    </ul>
  </div>
</details>

<!--<p><a class="apply-link" href="#">Apply filter</a></p>-->

</div>
