{% extends "layout.html" %}

{% block pageTitle %}
  Check if the law will protect you
{% endblock %}

{% block header %}

  {% include "includes/cookie-banner.html" %}

  {% include "includes/header.html" %}

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="have-you-worked-there">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="can-we-share" method="post">

        <h1 class="govuk-heading-xl">Check if the law will protect you</h1>

        <p class="govuk-body-l">In some circumstances, the law will protect you if you raise a concern about somewhere you work. This is sometimes called whistleblowing.</p>

        <p>Your rights are set out in the <a href="https://www.gov.uk/government/publications/the-public-interest-disclosure-act" target="_blank">Public Interest Disclosure Act</a> (PIDA).</p>

        <p>It's important to check if PIDA applies to you. This might mean talking to a lawyer, a trade union or an organisation like <a href="https://www.pcaw.org.uk" target="_blank">Public Concern at Work</a> - even if that means you decide not submit your feedback now.</p>

        <button class="govuk-button">Continue</button>

      </form>

    </div>

  </div>

  {% include "includes/get-help.html" %}

{% endblock %}

{% block footer %}

  {% include "includes/footer.html" %}

{% endblock %}
