{% extends "layout.html" %}

{% block pageTitle %}
  How you heard about us - Give feedback on care
{% endblock %}

{% block header %}

  {% include "includes/cookie-banner.html" %}

  {% include "includes/header.html" %}

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

  {% if checked( "can-we-contact-you", "Yes, you can contact me" ) %}
    <a class="govuk-back-link" href="your-contact-details">Back</a>
  {% else %}
    <a class="govuk-back-link" href="can-we-contact-you">Back</a>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="heard-from-a-charity" class="form" action="did-you-hear-about-this-form-from-a-charity-answer" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Did you hear about this form through a charity?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="heard-from-a-charity-1" name="heard-from-a-charity" type="radio" value="Yes" {{ checked("heard-from-a-charity", "Yes")}}>
                  <label class="govuk-label govuk-radios__label" for="heard-from-a-charity-1">
                    Yes
                  </label> </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="heard-from-a-charity-2" name="heard-from-a-charity" type="radio" value="No" {{ checked("heard-from-a-charity", "No")}}>
                  <label class="govuk-label govuk-radios__label" for="heard-from-a-charity-2">
                    No
                  </label> </div>
            </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  {% include "includes/get-help.html" %}

{% endblock %}

{% block footer %}

  {% include "includes/footer.html" %}

{% endblock %}
