{% extends "layout.html" %}

{% block pageTitle %}
  Report a problem | Give feedback on care
{% endblock %}

{% block header %}

  {% include "includes/cookie-banner.html" %}

  {% include "includes/header.html" %}

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You've sent your comments</h1>

      <form class="form" action="javascript:history.go(-2);" method="post">

        <p>We'll use what you've told us to improve our form.</p>

        <p>If we need to reply to you, we'll be in touch within 2 working days.</p>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  {% include "includes/get-help.html" %}

{% endblock %}

{% block footer %}

  {% include "includes/footer.html" %}

{% endblock %}
