{% extends "layout.html" %}

{% block pageTitle %}
  Tell us which service | Give feedback on care
{% endblock %}

{% block header %}

  {% include "includes/cookie-banner.html" %}

  {% include "includes/header.html" %}

{% endblock %}

{% block beforeContent %}

  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="search-results">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="tell-us-which-service" class="form" action="what-you-want-to-tell-us-about" method="post">

        <div class="govuk-form-group">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Tell us which service you want to give feedback about
            </h1>
          </legend>

          <p>
            Tell us anything you can about its name and where it is. For example:
          </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you might know the service by a different name from our records</li>
              <li>tell us the postcode, town or street</li>
              <li>tell us if it's next to any shops or landmarks</li>
            </ul>
          <p>
            We'll use what you tell us to find it. We might need to contact you to make sure we've found the right service.
          </p>
          <textarea class="govuk-textarea govuk-textarea" id="describe-service" name="describe-service" rows="5" aria-describedby="describe-service-hint"></textarea>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

  {% include "includes/get-help.html" %}

{% endblock %}

{% block footer %}

  {% include "includes/footer.html" %}

{% endblock %}
