{% extends "layout.html" %}

{% block pageTitle %}
  The form is unavailable | Give feedback on care
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, this form is unavailable.
      </h1>

      <p>We're carrying out maintenance work. We'll have the form back online as soon as possible.</p>

      <p>You can still contact us by telephone to tell us about your experience of care.</p>

      <p>Telephone: 03000 616161<br>
      Monday to Friday, 8.30am to 5.30pm<br>
      Excluding bank holidays</p>

    </div>
  </div>

{% endblock %}

{% block footer %}

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>
            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                  © Care Quality Commission
              </li>
            </ul>
          </div>
      </div>
    </div>
  </footer>

{% endblock %}
